.navbar-toggler:focus {
  box-shadow: none !important;
}

.navbar-toggler {
    border: none !important;
    outline:  none !important;
}

.mt-9 {
    margin-top: 250px;
}

.opacity-65 {
  opacity: 65%;
}

.ln-1{
  line-height: 0.2;

}

.p-r {
  top: 20px !important;
}

/* nav{
  transition: 350ms ease-in-out !important;
  z-index: 5;
  background-color: transparent !important;
}

.sticky {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  background-color: red !important;
  padding: 5px 5px;
  transition: 450ms ease-in-out !important;
  border-bottom: 1px solid #ced4da;
} */